dtd/prolog_reply.dtd

<!--Prolog Response-->
<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE REPLY[
<!ELEMENT REPLY(RESPONSE,OPTION*)>
<!ELEMENT RESPONSE(STOP|SEND)>
<!ELEMENT OPTION(REGISTRY,IPDISCOVER)>
<!ELEMENT REGISTRY(PARAM*)>
<!ELEMENT IPDISCOVER(PARAM)>
<!ELEMENT PARAM(#PCDATA)>
 <!ATTLIST PARAM REGKEY CDATA #IMPLIED>
 <!ATTLIST PARAM REGTREE CDATA #IMPLIED>
 <!ATTLIST PARAM NAME CDATA #IMPLIED>
]>